@page "/dashboard"

<h3>Dashboard</h3>

<div class="row">
    @*<div class="col-md-4">
            <StationListBase>List of Station</StationListBase>
        </div>
        <div class="col-md-4">
            <AreaListBase>List of Area</AreaListBase>
        </div>
        <div class="col-md-4">
            <StationPusatAnalyticsListBase>List of Customer</StationPusatAnalyticsListBase>
        </div>*@
</div>

@code {

}