@page "/"

<h3>Home</h3>

<h4>Welcome to Sistem Analisis Kualitas Air Limbah Sisa Industri</h4>

<div class="row">
    @*<div class="col-md-4">
        <StationListBase>List of Station</StationListBase>
    </div>
    <div class="col-md-4">
        <AreaListBase>List of Area</AreaListBase>
    </div>
    <div class="col-md-4">
        <CustomerListBase>List of Customer</CustomerListBase>
    </div>*@
</div>

@code {

}